<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Statelab3ClassLibrary.Properties.Settings.StatesDBConnectionString"
            connectionString="Data Source=AJ\SQLEXPRESS;Initial Catalog=StatesDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>